:root {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    --font-size: 16px;

    --dark-bg-color: #161821;
    --dark-main-color: #55c6f0;

    --light-bg-color: #e8e9ec;
    --light-main-color: #007acc;;

}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-main-color);
    border-radius: 8px;
}
::-webkit-scrollbar-corner {
    background: #3D3D3D;
}
a{
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
}

.darktheme {
    background: var(--dark-bg-color);
    color: white;
}

i {
    height: 20px;
}

.nav-link {
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    margin: 15px 5px;
    width: fit-content;
    min-width: 50px;
    text-align: center;
}

.nav-link:hover {
    border: 1px white none;
    background: rgba(255, 255, 255, 0.3);
    color: var(--dark-main-color);
    fill:white;
}
.nav-link:focus{
    color:white;
}

.komi-logo {
    height: 25px;
    fill: white;
    margin-left: 5px;
}

.komi-header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 20px;
    backdrop-filter: blur(8px);
}

.post-border {
    border-color: rgba(79, 177, 213, 0.5) !important;

}

.komit {
    width: auto;
    background: var(--dark-main-color);
}

.komit:hover {
    filter: brightness(85%);
    color: white;
    background: var(--dark-main-color);
}

#user {
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    color: var(--dark-main-color);
}

.modal-title {
    color: white;
}

.modal-content {
    background: var(--dark-bg-color);
}

.login {
    color: white;
}

.login:hover {
    color: var(--dark-main-color) !important;
}

li {
    list-style: none;
    text-decoration: none;
    color: white;
}

div.usernames{
    color: var(--dark-main-color)!important;
}

#message-list{
    overflow-y: scroll;
    height: 85vh;
    overflow-x: clip;

}
#message-list::-webkit-scrollbar {
    width: 0.25rem;
}

#message-list::-webkit-scrollbar-track {
    background: none;
}

#message-list::-webkit-scrollbar-thumb {
    background: var(--dark-main-color);
    border-radius: 4px;
}
#message-list::-webkit-scrollbar-corner {
    background: transparent;
}



