:root {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    --font-size:16px;

    --dark-bg-color: #161821;
    --dark-main-color: #55c6f0;

    --light-bg-color: #e8e9ec;
    --light-main-color: #007acc;;

}
a:visited{
    color:white;
}
a:active{
    color: white;
}
.darktheme{
    background: var(--dark-bg-color);
    color: white;
}

.nav-link{
    color:white;
    font-size: 20px;
    padding: 10px 10px;
    margin: 15px 5px;
    width: fit-content;

}
.nav-link:hover{
    border: 1px white none;
    background: rgba(255, 255, 255, 0.3);
    color:var(--dark-main-color);
}
.komi-logo{
    height: 25px;
    fill: white;
    margin-left: 5px;
}

.komi-header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 20px;
    backdrop-filter: blur(8px);
}

.post-border {
    border-color: rgba(79, 177, 213, 0.5) !important;

}
.komit{
    width: auto;
    background: var(--dark-main-color);
}
.komit:hover {
    filter: brightness(85%);
    color: white;
    background: var(--dark-main-color);
}

#user{
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
}
.modal-title{
    color: white;
}
.modal-content{
    background: var(--dark-bg-color);
}
.login{
    color: white;
}
.login:hover{
    color:var(--dark-main-color)!important;
}