:root {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    --font-size:16px;

    --dark-bg-color: #161821;
    --dark-main-color: #55c6f0;

    --light-bg-color: #e8e9ec;
    --light-main-color: #007acc;;

}

.darktheme{
    background: var(--dark-bg-color);
    color: white;
}

.nav-link{
    color:white;
    font-size: 20px;
    padding: 15px 5px;
}
.komi-logo{
    height: 25px;
    fill: white;
}

.komi-header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 20px;
    backdrop-filter: blur(8px);
}
.komi-sidebar{
    left: 20vw;
}

.post-border {
    border-color: rgba(79, 177, 213, 0.5) !important;

}

