:root {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    --bg-primary: #324459;
    --bg-vibrantblue: #2F62A2;
    --text-primary: #fffaf8;
    --bg-pink: #FF7A90;
    --bg-lightblue: #4a768d;
    --sub-alt-color: #263041;
    --error-color: #f04040;;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-primary);
    color: var(--text-primary);
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-lightblue);
    border-radius: 8px;
}

nav {
    background: #2F62A2;
    text-align: center;
}

.cursive {
    font-family: Grape Nuts, cursive;
    padding: 0;
}

.komi-logo {
    min-height: 2rem;
}

.logo-div {
    padding: 1px;
    border: var(--bg-primary) 3px solid;
    background: var(--bg-pink);
    border-radius: 100%;
}

.logo-div svg {
    position: relative;
    bottom: -2px;
}

svg {
    fill: var(--bg-primary);
    height: 1rem;
    transition: 0.3s;
    transform: rotate(0deg);
}

.svg-inline--fa {
    height: 1.2rem;
}

.svg path {
    fill: var(--bg-primary);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.navComp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.nav-link {
    background: var(--bg-pink);
    border-radius: 0.33rem;
    text-align: center;
    transition: 0.3s;
}

.nav-link:hover svg {
    transition: 0.3s;
    transform: rotate(360deg);
}

.nav-link:hover path {
    fill: var(--bg-pink);
    transition: 0.3s;
}

.nav-link:hover .logo-div {
    background: var(--bg-lightblue);
    border-color: var(--bg-pink);
    transition: 0.3s;
}

.nav-link:hover {
    background: var(--bg-lightblue);
    transition: 0.3s;
}

.tagline {
    background: transparent;
    max-width: 100px;
    margin-left: 0;
}

.tagline:hover {
    background: transparent;
}

a:hover {
    text-decoration: none;
    color: var(--text-primary);
}

a:visited:hover {
    text-decoration: none;
    color: var(--text-primary);
}

a:visited {
    text-decoration: none;
    color: var(--text-primary);
}

a {
    text-decoration: none;
    color: var(--text-primary);
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }

    h1 {
        font-size: 1rem;
    }

    .none-mobile {
        display: none;
    }

    .nav-link {
        padding: 0.1rem;
        margin: 0 1vw;
        background: none;
    }

    .nav-link:hover {
        background: none;
    }

    .right svg {
        height: 2rem;
        fill: var(--sub-alt-color);
    }

    .logo-name {
        padding: 0;
        background: none;
    }

    .logo-name:hover {
        background: none;
    }


    main {
        margin: 2% 10%;
        font-size: 0.5rem;
    }

    .komi-logo {
        height: 2rem;
    }
}

@media only screen and (min-width: 600px) {


    .nav-link {
        min-width: 8vw;
        height: fit-content;
        margin: 0.25rem 1.6vw;
        font-size: 1.6rem;
        padding: 0.25rem;
    }

    .tagline {
        display: none;
    }

    .logo-name {
        font-size: 2rem;
        min-width: 10vw;
        padding: 1px 0.25rem;
        margin: 2px;
        background: none;
    }

    .logo-name:hover {
        background: none;
    }

    main {
        margin: 2% 4%;
    }

    .logo-span {
        display: none;
    }

    h1 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 915px) {


    .nav-link {
        min-width: 8vw;
    }

    .tagline {
        display: flex;
        font-size: 1rem;
    }

    .logo-name {
        background: var(--bg-pink);
    }

    .logo-name:hover {
        background: var(--bg-lightblue);
    }

    .logo-span {
        display: block;
    }

    main {
        margin: 2%  15vw;
    }
}


main {
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

h1 {
    text-align: justify;
}

.wrapper {
    width: 360px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

a.register {
    color: var(--bg-pink);
    text-decoration: none;
    background-color: transparent;
}

a.register:hover {
    color: var(--bg-vibrantblue);
    text-decoration: underline
}

.btn:hover a {
    color: var(--bg-lightblue);
}

.card {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    box-shadow: rgba(3, 8, 20, 0.1) 0 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0 0.075rem 0.175rem;
    height: 360px;
    width: 100%;
    max-width: 250px;
    border-radius: 4px;
    transition: all 500ms;
    padding: 10px;
    overflow: hidden;
    background-size: cover;
    background: var(--sub-alt-color) no-repeat center;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0 0.175em 0.5em;
    transform: translateY(-2px) scale(1.05);
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

#hugh {
}

ul {
    padding-left: 20px;
}

li {
    list-style: repeating-conic-gradient(var(--bg-primary), var(--bg-vibrantblue));
    font-size: 0.9rem;
    margin: 5px;
}

h6 {
    font-size: 1.2rem;
}

.svg-group {
    display: flex;
    justify-content: flex-end;
    gap: 0 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: fit-content;
}

.div-svg {
    display: flex;
    align-self: flex-end;
    border: 0px solid;
    border-radius: 50%;
    background: var(--bg-lightblue);
    width: 25px;
    height: 20px;
    padding: 5px;
    -webkit-transform: scaleX(-1);
    transform: scale(-1.5, 1.5);
    transition: 500ms;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.div-svg:hover {
    transform: scale(-1.75, 1.75);
    transition: 500ms;
}

.div-svg:hover svg {
    fill: var(--bg-pink);
    transform: rotate(360deg);
}

.card {
    display: flex;
    justify-content: space-between;
}
.card-svg path{
    fill: var(--bg-primary);
    box-sizing: border-box;
}
.div-svg:hover path{
    fill: var(--bg-pink);
    box-sizing: border-box;
}
.card-svg{
    height: 1rem;
}
.username-chat{
    color: var(--bg-pink);
    font-size: 1rem;
    margin: 0;
}
.modUsername-chat{
    color: var(--bg-lightblue);
    font-size: 1rem;
    margin:0;
}
.user-convo{
    display: flex;
}
.user-button{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.chat-display{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.chat-box{
    background: var(--sub-alt-color);
    width: 21rem;
    padding: 0;
    border-radius: 8px;
    min-height: 24rem;
}
.current-chat{
    background: rgba(129, 208, 255, 0.38);
}
.chat-input{
    background: var(--sub-alt-color);
    height: 1.5rem;
    width: 90%;
    border: none;
    border-radius: 8px;
    margin: 2px 0;
    padding: 10px;
    color: var(--text-primary);
}
input:focus{
    outline: none;
}
.send-section{
    background: var(--bg-vibrantblue);
    height: fit-content;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.no-style li{
    list-style: none;
}
.button-send-chat-send-chat{
    background: none;
}
.chat-form{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    justify-items: start;
}

.div-send-chat{
    background: none;
}
button {
    border: none;
    background-color: transparent;
    outline: none;
}
button:focus {
    border: none;
}