

 #hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#0c32506e, #09203256), url('img/freelancer_bg.jpg');
}

#hero{
  background-position: center !important;
  background-size: cover !important;
  background-position: center !important;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgb(248, 242, 242);
  margin-bottom: 50px;
  font-size: 50px;

  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
 
  font-style: italic;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #209dd8;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }

  #lowinfo {
    height: 100vh;
    text-align: center;
  }

  #lowinfo .hero-img {
    text-align: center;
  }

  #lowinfo .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }

  #lowinfo h1 {
    font-size: 28px;
    line-height: 36px;
  }

  
  #lowinfo span {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #lowinfo .hero-img img{
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #lowinfo .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

#lowinfo{
  
    background-color: white;
    color: black;
    width: 100%;
    height: 55vh;
}

#lowinfo h1 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
}

#lowinfo h3{
    color: black;
    margin-bottom: 50px;
    font-size: 24px;
    text-align: justify;
}



#services{
    background-color: rgb(12, 9, 26);
    color: white;
}

.iconbox{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex ;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 100%;
    transition: 0.3s ease;
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(17, 15, 37); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  
}

/* The sidebar links */
.sidebar a {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(12, 9, 26);
  color: white;
  border: none;
}

.openbtn:hover {
  background-color: rgba(0, 0, 0, 0.281);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 background-color: rgb(12, 9, 26);
padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}




 .slick-slide{
  margin: 0 20px;
}
.slick-slide img{
  width: 60%;
}
.slick-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block
}
.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img{
  display: block;
}
.slick-initialized .slick-slide{
  display: block;
}
.copy{
  padding-top: 250px;
}